nbproject
captcha
test
application/config/config.php
application/config/database.php
system/libraries/Session/Session.php
application/libraries/mpdf-5.4.0
application/libraries/mpdf-5.4.0/*
application/libraries/mpdf/*
application/libraries/dompdf/*
application/libraries/dompdf-old/*
application/libraries/_mypdf/*
test/*
user_guide/*
uploads/*
documentum/*
assets/docs/*
.DS_Store
assets/images/profile_images/*
/index.php
index.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/third_party/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
# system/libraries/Session/Session.php
assets/secured_user/js/digi_sign/dscapi-conf.js

/vendor/